
name: CI

on:
  push:
    branches: [ master ]
    paths:
      - grammar.js
      - src/**
      - test/**
      - bindings/**
      - binding.gyp
  pull_request:
    branches: [ master ]
    paths:
      - grammar.js
      - src/**
      - test/**
      - bindings/**
      - binding.gyp

jobs:
  test:
    name: Test
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up tree-sitter
      uses: tree-sitter/setup-action/cli@v2

    - name: Run tests
      uses: tree-sitter/parser-test-action@v3
      with:
        test-rust: true
        test-node: true
        test-python: true
    - name: Parse examples
      uses: tree-sitter/parse-action@v4
      with:
        files: examples/*
